/* ------------------------------------------------ */
/* Donor wall                                       */
/* ------------------------------------------------ */


#donorWall div.heading {
  white-space: pre-wrap;
  background: #f39732;
  padding: 10px;
  color: white;
  font-weight: bold;
  margin: 10px 0;
}

#donorWall div.donor {
}

#donorWall div.note {
  font-style: italic;
}

#container {
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
}
#donorWall .note,
#donorWall .footnote,
#donorWall sup {
  font-style: italic;
}

#donorWall .donorCount,
#donorWall .donor sup {
  margin-left: 5px;
}
#donorWall p {
  display: block;
}