#outdata {
  width: 100%;
  margin: 0 auto;
}
.faq_container {
  position: relative;
}
@media screen and (max-width:  991px ) {
    .faq_container .ui-tabs .ui-tabs-nav li,
    .faq_container .ui-tabs .ui-tabs-nav li a {
        width: 100%;
    }
    .faq_container .ui-tabs .ui-tabs-panel {
        padding: 10px 0 0 0;
    }
    .faq_container .ui-tabs .ui-tabs-nav {
        padding: 0;
    }

    .faq_container .sectionBreak {
      font-size: 15px;
    }
}