/* ------------------------------------------------------------------- */
/* Header navigation                                                   */
/* ------------------------------------------------------------------- */

.header div.header-layout-nav-right .header-nav .header-nav-item--folder .header-nav-folder-content {
  left: auto;
  right: -1em;
  text-align: right;
}

/* Color active nav item */
.header-nav-item--active > a {
  color: #990000 !important;
  background-image: none !important;
}
.header-nav-folder-item--active > a {
  color: #990000 !important;
}

.header-nav-item > a {
    font-weight: 500;
}
.header-nav .header-nav-item--folder .header-nav-folder-content .header-nav-folder-item {
  text-indent: -1em;
  margin-left: 1em;
  line-height: 1.8em;
}
.header-nav .header-nav-item--folder .header-nav-folder-content {
  padding-right: 2em;
}
.header-nav .header-nav-item--folder .header-nav-folder-content {
  /*width: inherit;*/
}

body[data-menu-overlay-theme-switcher="true"]:not(.header--menu-open) 
.header-nav-item--active a {
  white-space: nowrap;
}
/* align dropdown box and content */
.header .header-layout-nav-right .header-nav .header-nav-item--folder .header-nav-folder-content {
    left: -1em;
    text-align: left;
}