/*-------------------------------------------------------------*/
/* Address/Hours/Admissions flex boxes                         */
/*    04/10/2021 - initial                                     */
/*-------------------------------------------------------------*/

#hoursContainer {
  border: 5px solid rgb(233, 34, 49);
  border-radius: .5em;
  padding: 10px;
  display: flex;
  width: auto;
  margin: 0 auto;
  white-space: nowrap;
  margin-bottom: 17px;
  display: none;
  width: 100%;
  margin: 0 auto;
}

#hoursContainer > div {
  padding: 10px;
  background-color: rgba(233, 34, 49,.05);
  border: 2px solid rgba(233, 34, 49,.5);
  flex: 1 1 0;
  width: auto;
  overflow: hidden;
}

#hoursContainer.museumAahom {
  border: 5px solid rgb(233, 34, 49);
}
#hoursContainer.museumAahom > div {
  background-color: rgba(233, 34, 49,.05);
  border: 2px solid rgba(233, 34, 49,.5);
}

#hoursContainer.museumLeslie {
  border: 5px solid rgb(26, 134, 84);
}
#hoursContainer.museumLeslie > div {
  background-color: rgba(26, 134, 84,.05);
  border: 2px solid rgba(26, 134, 84,.5);
}

#hoursContainer.museumExperience {
  border: 5px solid rgb(250,169, 24);
}
#hoursContainer.museumExperience > div {
  background-color: rgba(250,169, 24,.05);
  border: 2px solid rgba(250,169, 24,.5);
}

#hoursContainer.museumChallenger {
  border: 5px solid rgb(42,147,221);
}
#hoursContainer.museumChallenger > div {
  background-color: rgba(42,147,221,.05);
  border: 2px solid rgba(42,147,221,.5);
}

#hoursContainer.museumYankee {
  border: 5px solid rgb(246, 239, 205);
}
#hoursContainer.museumYankee > div {
  background-color: rgba(246, 239, 205,.05);
  border: 2px solid rgba(246, 239, 205,.5);
}

#hoursContainer p {
  white-space: normal;
}

#hoursContainer h3 {
  margin-top: 0;
  
  font-size: 1.25em;
  margin-bottom: 10px;
}

#hoursContainer div.fixed {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#hoursContainer ul {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 5px;
}

#hoursContainer .head {
  font-weight: bold;
  font-style: italic;
}

@media screen and (max-width:  767px ) {
    #hoursContainer {
    flex-direction: column;
  }
  #hoursContainer > div {
    overflow: unset;
  }
}