/* ----------------------------------------------------------- */
/* Icon Bar                                                    */
/*    04/1/72021 - initial                                     */
/* ----------------------------------------------------------- */

section:first-of-type div.content-wrapper div.content {
    width: auto !important;
    /*min-height: 300px;*/
}

#iconBar,
#iconBarFoot { 
  background: #eee;
  position: relative;
  height: 100px;
  width: 100%;
  clear: both;
}

#iconBar.sticky,
#iconBarFoot.sticky  {
  background: #eee;
  position: absolute;
  bottom: 0;
  height: 100px;
  width: 100%;
  clear: both;
}

#iconBar .iconBarFlex,
#iconBarFoot .iconBarFlex {
  /* We first create a flex layout context */
  display: flex;
  flex-flow: wrap;
  padding: 10px;
  margin: 0;
  list-style: none;
  justify-content: space-around;
}

#iconBar .iconBarFlex .flex-item,
#iconBarFoot .iconBarFlex .flex-item {
  padding: 5px;
  height: auto;
  line-height: 1em;
  font-size: 1em;
}

#iconBar .iconBarFlex .flex-item img,
#iconBarFoot .iconBarFlex .flex-item img {
  width: 150px;
  object-fit:cover;
}

#iconBar img#banner,
#iconBarFoot img#banner{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 800px) {
  #iconBar .iconBarFlex .flex-item img,
  #iconBarFoot .iconBarFlex .flex-item img {
      width: auto;
      height: 35px;
  }

  #iconBar .iconBarFlex .flex-item,
  #iconBarFoot .iconBarFlex .flex-item {
    padding: unset;
    height: auto;
    line-height: unset;
    font-size: 1em;
  }
}