/* ----------------------------------------------------------- */
/* Team Boxes                                                  */
/*    04/11/2021 - initial                                     */
/* ----------------------------------------------------------- */ 

div.team_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 5px;
  justify-content: center;
  position: relative;
}
div.team_container div.item_box {
  margin: 10px !important;
  height: unset;
  width: 30%;
  max-width: 300px;
  padding-top: clamp(200px,30%,300px);
  position: relative;
  background: #45A04D;
  border-radius: 10px;
  }
div.team_container div.item_front, 
div.team_container div.item_back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
}
div.team_container div.item_back {
  background: #45A04D;
  opacity: 0;
  transition: all .6s ease-in-out;
}
div.team_container div.item_front {
  line-height: 30px;
}
div.team_container img.item_img {
  object-fit: cover;
  height: inherit;
  width: inherit;
}
div.team_container div.item_bio {
  position: relative;
  height: unset;
  width: unset;
  margin: 0;
  padding: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  display: -webkit-box;
  -webkit-line-clamp: 14;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  padding-bottom: 0;
}
div.team_container div.item_bio p {
  margin: 0;
}
div.team_container div.item_name {
  color: white;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding-bottom:20px;
  text-align: center;
  font-size: 25px;
  width: 100%;
}
div.team_container div.item_title {
  display: block;
  font-size: 18px;
  font-style: italic;
}
div.team_container .item_box:hover .item_back {
  opacity: 1;
}

@media (max-width: 800px) {
    div.team_container div.item_box {
        width: 70%;
        max-width: 70%;
        padding-top: clamp(200px,70%,300px);
    }
}